In [1]:
print("Hello World")

Hello World

In [2]:
"Hello World"

'Hello World'

In [4]:
a = 23 # Variable a has a value of 23
b = a # Variable b is cloned to Variable a
c = 24 # Variable c holds a value of 24
# z = 25

In [5]:
a

23

In [6]:
b

23

In [7]:
c

24

In [8]:
z

NameError: name 'z' is not defined

In [9]:
# Create a variable name for account number
accountNumber = 1234
account_number = 1234

In [10]:
accountNumber

1234

In [11]:
URL = "https://www.google.com"
IP_ADDRESS = "10.0.0.1"

In [12]:
strText = "Hello World" # The data type is String
intAccountNumber = 1234 # The data type is Integer

In [13]:
type(strText)

str

In [14]:
type(intAccountNumber)

int

In [15]:
intAmount = 21.4

In [16]:
type(intAmount)

float

In [17]:
strCity = """
This is a multi-lined city text
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
"""

In [18]:
strCity

'\nThis is a multi-lined city text\nLorem Ipsum, Lorem Ipsum\nLorem Ipsum, Lorem Ipsum\nLorem Ipsum, Lorem Ipsum\nLorem Ipsum, Lorem Ipsum\nLorem Ipsum, Lorem Ipsum\nLorem Ipsum, Lorem Ipsum\nLorem Ipsum, Lorem Ipsum\nLorem Ipsum, Lorem Ipsum\n'

In [19]:
print(strCity)

This is a multi-lined city text
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum
Lorem Ipsum, Lorem Ipsum

In [23]:
# Code Segment 1
x1 = "20"
y1 = 3
a = x1 * y1
type (a)

str

In [24]:
# Code Segment 2
x2 = 6
y2 = 4
b = x2 / y2
type(b)

float

In [25]:
# Code Segment 3
x3 = 2.5
y3 = 1
c = x3 / y3
type(c)

float

In [26]:
# Answers:
# After executing code segment 1, the data type of variable a is str (Yes or No) - Yes
# After executing code segment 2, the data type of variable b is float (Yes or No) - Yes
# After executing code segment 3, the data type of variable c is int (Yes or No) - No

In [27]:
# Importance of String data sets
strText = "Hello!"
# Strings are immutable
# Once you create them, you cannot change them

In [28]:
strText[0] = "T"

TypeError: 'str' object does not support item assignment

In [29]:
# Print the Ordinal numbers for characters
ord("A")

65

In [30]:
ord("a")

97

In [31]:
ord("H"), ord("e"),ord("l"),ord("l"),ord("o")

(72, 101, 108, 108, 111)

In [32]:
%pwd

'/home/canakor938'

## Integer Division
* "true division" performed by "/"
* "floor division" performed by "//"

In [33]:
10 / 3

3.3333333333333335

In [34]:
10.0 / 3.0

3.3333333333333335

The operator "//" performs floor division, i.e., the dividend is divided by the divisor - like in true division - but the floor of the result will be returned

In [35]:
9 // 3

3

In [36]:
10 // 3

3

In [37]:
11 // 3

3

In [38]:
12 // 3

4

In [39]:
10.0 // 3

3.0

## Floor Division for negative numerator

In [40]:
-7 // 3

-3

In [42]:
numerator = 10
denominator = 3
result = numerator // denominator
print("Numerator:", numerator, "Denominator:", denominator, "Result:", result)

Numerator: 10 Denominator: 3 Result: 3

In [43]:
numerator = -10
denominator = 3
result = numerator // denominator
print("Numerator:", numerator, "Denominator:", denominator, "Result:", result)

Numerator: -10 Denominator: 3 Result: -4

In [44]:
numerator = 7.5
denominator = 2.0
result = numerator // denominator
print("Numerator:", numerator, "Denominator:", denominator, "Result:", result)

Numerator: 7.5 Denominator: 2.0 Result: 3.0