### Tuples
A tuple is an immutable list. i.e., a tuple cannot be changed in any way once it has been created.
* Tuples are faster than lists
* If you know that some data doesn't have to be changed, you should use tuples instead of lists, because this protects your data against accidental changes
* The main advantage of tuples is that tuples can be used as keys in dictionaries, while lists can't.

In [1]:
tpl = ("tuples", "are", "immutable")
tpl[0]

'tuples'

In [2]:
tpl[0] = "try to assign this value to a tuple"

TypeError: 'tuple' object does not support item assignment

In [3]:
tplList = (["a", "b"], "c", "d")

In [5]:
tplList[0].append("ab")

In [6]:
tplList

(['a', 'b', 'ab'], 'c', 'd')

In [7]:
tplList[0] = "abab"

TypeError: 'tuple' object does not support item assignment

In [8]:
type(tplList[0])

list

In [9]:
type(tplList)

tuple

In [10]:
regularListAndTuple = ["a", (1,1,2,3,5), "b", "c"]
type(regularListAndTuple)

list

In [11]:
type(regularListAndTuple[1])

tuple

In [12]:
regularListAndTuple[1][0] = "z"

TypeError: 'tuple' object does not support item assignment

In [13]:
coordinates = [(10, 5), (20, 15), (30, 25)]

In [14]:
coordinates[0]

(10, 5)

In [15]:
coordinates[0] = "A"

In [16]:
coordinates

['A', (20, 15), (30, 25)]

## Slicing

In [19]:
message = "Python is great"
firstSix = message[0:6] # start at index 0 and stop at index 6, but do not include the value at index 6
firstSix

'Python'

In [20]:
startAtFive = message[5:]
startAtFive

'n is great'

In [22]:
cloneData = message[:]
cloneData

'Python is great'

In [23]:
withoutLastFive = cloneData[0:-5]
withoutLastFive

'Python is '

In [24]:
lstCities = ["Vienna", "London", "Paris", "Berlin", "Zurich", "Hamburg"]
firstThree = lstCities[0:3]
firstThree

['Vienna', 'London', 'Paris']

In [25]:
allButLastTwo = lstCities[:-2]
allButLastTwo

['Vienna', 'London', 'Paris', 'Berlin']

#### slicing has begin and end [begin:end]
#### slicing also has 3 operators [begin:end:step]

## Length
#### Length of a sequence, i.e., a list or a tuple can be determined with the function len()

In [26]:
txt = "Hello World"
len(txt)

11

In [27]:
lstAbc = ["John", 48, 3.54, "Jane"]
len(lstAbc)

4

### Concatenation of Sequences

In [28]:
colors1 = ["red", "green", "blue"]
colors2 = ["black", "white"]
colors = colors1 + colors2
colors

['red', 'green', 'blue', 'black', 'white']

### Increment operation

In [29]:
x = 2
x = x + 1
x

3

In [30]:
y = 2
y += 1
y

3

### Checking if an element is contained in list

In [31]:
abc = ["a", "b", "c", "d", "e"]
"a" in abc

True

In [32]:
"a" not in abc

False

In [33]:
"f" not in abc

True

## Test Questions

In [34]:
# Python code for arithmetic operations
a = 11
b = 4

In [35]:
print(a / b) # Output: 2.75
print(a // b) # Output: 2
print(a % b) # Output: 3

2.75
2
3

In [36]:
# Match the data type to the code segment

# bool, float, int, str
age = 2 # int
minor = False # bool
name = "Johnny" # str
weight = 123.5 # float
zip = "81000" # str

In [37]:
# You are developing a Python application for your company. Write the following code
# You need to make a selection in the drop down

# "==" compares by values
# "is" compares by id

numList = [1,2,3,4,5]
alphaList = ["a", "b", "c", "d", "e"]
print(numList is alphaList) # Output: False
print(numList == alphaList) # Output: False
numList = alphaList
print(numList is alphaList) # Output: True
print(numList == alphaList) # Output: True

False
False
True
True

In [38]:
# Evaluate the following Python expression:

(3*(1+2)**2 - (2**2)*3) # Output is: 3, 13, 15, 69

15

A list named employees contains 200 employee names, the last five being company management. You need to slice the list to display all employees excluding management.

Which two code segments should you use? Choose two.
* employees[1:-4]
* employees[:-5] -> Correct Answer
* employees[1:-5]
* employees[0:-5] -> Correct Answer

### Extend function

In [39]:
lst = [43, 44, 45]
lst2 = [46, 47]
lst.append(lst2)
lst

[43, 44, 45, [46, 47]]

In [40]:
lst3 = [43, 44, 45]
lst4 = [46, 47]
lst3.extend(lst4)
lst3

[43, 44, 45, 46, 47]

In [2]:
lstStr = ["a", "b", "c"]
prgLanguage = "Python"
lstStr.extend(prgLanguage)
lstStr

['a', 'b', 'c', 'P', 'y', 't', 'h', 'o', 'n']

In [3]:
type(lstStr)

list

In [4]:
tplList = (1, 1, 2, 3, 5, 8)
type(tplList)

tuple