In [1]:
strText = "Python is a programming language"

In [2]:
strText[0]

'P'

In [3]:
strText2 = "Hello World"

In [4]:
strText2[0]

'H'

In [5]:
strText2[10]

'd'

In [6]:
strText2[5]

' '

In [7]:
strText2[11]

IndexError: string index out of range

In [8]:
strText2[-1]

'd'

In [9]:
strText2[-11]

'H'

### is operator
is operator is used to compare two objects using id checks

In [10]:
a = "Linux"
b = "Linux"
a is b

True

In [11]:
id(a), id(b)

(133212745565744, 133212745565744)

Strings with special characters will be stored in different memory addresses, which will result in false comparisons using the is operator

In [12]:
a = "speciäl character"
b = "speciäl character"
a is b

False

In [13]:
id(a), id(b)

(133212267964304, 133212267965168)

# Exam Question

In [14]:
type(+1E10)
type(5.0)
type("True")
type(False)

bool

# Order of Operations
* Parentheses
* Exponents
* Unary positive, negative, not
* Multiplication and Division
* Addition and Subtraction
* And

In [15]:
result = (2+3) * (5 - 2) ** 2/3
# 1. Parentheses: (2+3) and (5-2) are calculated first, resulting in 5 and 3
# 2. Exponents: 3 ** 2 is calculated next, resulting in 9
# 3. Multiplication and Division: 5 * 9 equals 45, 45 / 3 equals 15
result

15.0

In [17]:
result = 4 + 5 * 2 ** 3 - 6 / 2
# 1. Exponents: 2 ** 3 equals 8
# 2. Multiplication and Division: 5 * 8 = 40, 6 / 2 = 3
# 3. Addition and Subtraction: 4 + 40 = 44, 44 - 3 = 41
result

41.0

In [18]:
6 / 2

3.0