### Set
This is a collection type. A set contains an unordered collection of unique and immutable objects.

In [1]:
aSet = set("Hello World")

In [2]:
aSet

{' ', 'H', 'W', 'd', 'e', 'l', 'o', 'r'}

In [3]:
aSet2 = set("A Python Tutorial")
aSet2

{' ', 'A', 'P', 'T', 'a', 'h', 'i', 'l', 'n', 'o', 'r', 't', 'u', 'y'}

In [4]:
aSet3 = set(["Perl", "Python", "Java"])
aSet3

{'Java', 'Perl', 'Python'}

In [5]:
citiesSet = set(["Paris", "New York", "Ashburn", "Dallas", "Paris", "Birmingham"])

In [6]:
citiesSet

{'Ashburn', 'Birmingham', 'Dallas', 'New York', 'Paris'}

In [9]:
citiesSet2 = set((["Python", "Perl"], ["Paris", "Belgium", "London"]))
# cannot have a list inside of a tuple in a set

TypeError: unhashable type: 'list'

In [8]:
citiesSet3 = set((("Python", "Perl"), ("Paris", "Belgium", "London")))
citiesSet3

{('Paris', 'Belgium', 'London'), ('Python', 'Perl')}

In [2]:
citiesSet4 = set(["Frankfurt", "Basel", "Frieburg"])
citiesSet4.add("London")

In [3]:
citiesSet4

{'Basel', 'Frankfurt', 'Frieburg', 'London'}

In [5]:
citiesSet5 = frozenset(["Frankfurt", "Basel", "Frieburg"])
citiesSet5

frozenset({'Basel', 'Frankfurt', 'Frieburg'})

In [6]:
citiesSet5.add("London")

AttributeError: 'frozenset' object has no attribute 'add'

In [7]:
citiesSet6 = {"Frankfurt", "Basel", "Frieburg", "London"}
citiesSet6

{'Basel', 'Frankfurt', 'Frieburg', 'London'}

In [8]:
citiesSet6.add("Berlin")
citiesSet6

{'Basel', 'Berlin', 'Frankfurt', 'Frieburg', 'London'}

In [9]:
%pwd

'/home/canakor938/projects/feb-2024-python-notebooks'